<!-- Blog Post -->
<div class="card my-4">
    <article class="media content-section border-0 mb-0">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='pics/' + post.author.image_file) }}">
        <div class="media-body">
            <h2 class="article-title">{{ post.title }}</h2>
        </div>
    </article>

    <div id="post{{ post.id }}" class="card-body pt-0">
        <p class="card-text">{{ post.content }}</p>
    </div>
    {% if post.language and post.language != 'ar' %}
    <div class="card-body pt-0" id="translation{{ post.id }}">
        <p class="card-text">
            <a href="javascript:translate(
                '#post{{ post.id }}',
                '#translation{{ post.id }}',
                '{{ post.language }}',
                'ar');" 

            >Translate</a>
        </p>
    </div>
    {% endif %}

    <div class="card-footer text-muted">
        {{ moment(post.date_posted).fromNow() }} by
        <a href="/account/{{ post.author.username }}"> {{ post.author.username }}</a>
    </div>
</div>