<!-- Blog Post -->
<div class="card my-4">
    <article class="media content-section border-0 mb-0">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='pics/' + post.author.image_file) }}">
        <div class="media-body">
            <h2 class="article-title">{{ post.title }}</h2>
        </div>
    </article>

    <div class="card-body pt-0">
        <p class="card-text">{{ post.content }}</p>
    </div>

    <div class="card-footer text-muted">
        {{ moment(post.date_posted).fromNow() }} by
        <a href="/account/{{ post.author.username }}"> {{ post.author.username }}</a>
    </div>
</div>