{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h3 class="account-heading">{{ user.username }}</h3>
                {% if user.last_seen %}
                    <p class="text-secondary"><h6>Last seen on:</h6> {{ user.last_seen }}</p>
                {% endif %}
            </div>
        </div>
        
        <!-- Form  -->
        <form> 
            <fieldset class="form-group ">
                <legend class="border-bottom mb-4"><h4>About {{ user.username }}</h4></legend>
                
                <div class="form-group">
                    {% if user.about_me %}
                        <div class="media">
                            <div class="media-body">
                                <!-- <h3 class="account-heading">About Me</h3> -->
                                <p class="text-secondary">{{ user.about_me }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" value="{{ user.email }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="numberOfArticles" class="col-sm-2 col-form-label">Articles</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" value="  {{ articles }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="numberOfFollowers" class="col-sm-2 col-form-label">Followers</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" value="  {{ user.followers.count() }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="numberOfFollowed" class="col-sm-2 col-form-label">Following</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" value="  {{ user.followed.count() }}">
                    </div>
                </div>

                <div class="form-group">
                    {% if user == current_user %}
                    <a class="btn btn-outline-info" href="{{ url_for('edit_profile') }}" role="button">Edit profile</a>
                    {% elif not current_user.is_following(user) %}
                    <a class="btn btn-outline-info" href="{{ url_for('follow', username=user.username) }}">Follow</a>
                    {% else %}
                    <a class="btn btn-outline-danger" href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
                    {% endif %}
                </div>

                <!-- <div class="form-group">
                </div> -->

            </fieldset>
            
        </form>

        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}

    </div>
{% endblock content %}