{% extends 'layout.html' %}
{% block app_content %}

    <!-- Form  -->
    {% if form %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg", id="titleArea", rows="1", placeholder="Title") }}
                {% endif %}
            </div>

            <div class="form-group">
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control", id="contentTextArea", rows="7", placeholder="Write your article...") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info btn-lg") }}
        </div>
    </form>
    {% endif %}
    
    {% if num_of_posts == 0 %}
    <div class="alert alert-info text-center" role="alert">
        Here you will find articles published by people you follow. If you new to this blog you probably 
        will not get articles here but, you could <a href="/explore" class="alert-link">find articles and publishers to follow here</a>.
    </div>
    {% endif %}
    
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <!-- Pagination -->
    {% if display %}
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
    {% endif %}

{% endblock %}