{% extends 'bootstrap/base.html' %}

{% block head %}
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock head %}

{% block title %}
	{% if title %}
		<title>{{ title }} - Awesome Blog</title>
	{% else %}
		<title>Awesome Blog</title>
	{% endif %}
{% endblock title %}

<!-- Navigation -->
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
	<div class="container">
		<a class="navbar-brand mr-4 text-white" href="/"><h3>Awesome Blog</h3></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<div class="navbar-nav mr-auto">
				<a class="nav-item nav-link text-white" href="{{ url_for('home') }}">Home</a>
				<a class="nav-item nav-link text-white" href="{{ url_for('explore') }}">Explore</a>
				<a class="nav-item nav-link text-white" href="{{ url_for('about') }}">About</a>
			</div>
			<!-- Navbar Right Side -->
			<div class="navbar-nav">
				{% if current_user.is_anonymous %}
					<a class="nav-item nav-link text-white" href="{{ url_for('login') }}">Login</a>
					<a class="nav-item nav-link text-white" href="{{ url_for('register') }}">Register</a>
				{% else %}
					<a class="nav-item nav-link text-white" href="{{ url_for('account', username=current_user.username) }}">Profile</a>
					<a class="nav-item nav-link text-white" href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
{% endblock navbar %}


<!-- Page Content -->
{% block content %}
	<div class="container">

		<div class="row">

			<!-- Blog Entries Column -->
			<div class="col-md-8">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-info" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}

				{# application content needs to be provided in the app_content block #}
				{% block app_content %}
				{% endblock %}
			</div>
			
			<!-- Sidebar Widgets Column -->
			<div class="col-md-4">
				<!-- Side Widget For Advertisement-->
				<div class="card my-4">
					<h5 class="card-header">Advertisement</h5>
					<div class="card-body">
						Free area for advertisement, you can put anything you want inside of 
						this side widgets. If you are interested you can contact us at 
						mohamed.abdelmagid.1991@gmail.com !
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}

	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>	
	<script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');

            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang

            }).done(function(response) {
                // console.log(response)
                $(destElem).text(response['text'])

            }).fail(function() {
                $(destElem).text("{{ 'Error: Could not contact server !!' }}");
            });
        }
    </script>	
{% endblock %}
